.idea/
.idea
.env
.env/
env
venv
*pyc
venv/
.coverage
pytest_cache
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/